In [207]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [208]:
train=pd.read_csv('train.csv')
test=pd.read_csv('test.csv')

In [209]:
train.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

In [210]:
(train.isnull().sum()/len(train))*100

PassengerId     0.000000
Survived        0.000000
Pclass          0.000000
Name            0.000000
Sex             0.000000
Age            19.865320
SibSp           0.000000
Parch           0.000000
Ticket          0.000000
Fare            0.000000
Cabin          77.104377
Embarked        0.224467
dtype: float64

In [211]:
train=train.drop(['Cabin','Name'],axis=1)

In [212]:
test=test.drop(['Cabin','Name'],axis=1)

In [213]:
train['Embarked'].unique()

array(['S', 'C', 'Q', nan], dtype=object)

In [214]:
train['Age']=train['Age'].fillna(train['Age'].mean())

In [215]:
train['Embarked']=train['Embarked'].fillna('None')

In [216]:
for i in test:
  if test[i].isnull().sum()!=0:
    if test[i].dtypes==object:
      test[i]=test[i].fillna('None')
    else:
      test[i]=test[i].fillna(test[i].mean())

In [217]:
train['Embarked'].isnull().sum()

0

In [218]:
ytrain=train['Survived']

In [219]:
test_id=test['PassengerId']

In [220]:
xpred=train['Survived']

In [221]:
train

     PassengerId  Survived  Pclass  ...            Ticket     Fare  Embarked
0              1         0       3  ...         A/5 21171   7.2500         S
1              2         1       1  ...          PC 17599  71.2833         C
2              3         1       3  ...  STON/O2. 3101282   7.9250         S
3              4         1       1  ...            113803  53.1000         S
4              5         0       3  ...            373450   8.0500         S
..           ...       ...     ...  ...               ...      ...       ...
886          887         0       2  ...            211536  13.0000         S
887          888         1       1  ...            112053  30.0000         S
888          889         0       3  ...        W./C. 6607  23.4500         S
889          890         1       1  ...            111369  30.0000         C
890          891         0       3  ...            370376   7.7500         Q

[891 rows x 10 columns]

In [222]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

In [223]:
for i in train:
  if train[i].dtypes==object :
    train[i]=le.fit_transform(train[i])
  else:
    pass

In [224]:
for i in test:
  if test[i].dtypes==object :
    test[i]=le.fit_transform(test[i])
  else:
    pass

In [225]:
train.drop(['Survived'],inplace=True,axis=1)

In [226]:
xtrain=train

In [227]:
from sklearn.ensemble import RandomForestClassifier
rfc=RandomForestClassifier(n_estimators=100,random_state=0,criterion='entropy')
rfc.fit(xtrain,ytrain)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='entropy', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=0, verbose=0,
                       warm_start=False)

In [228]:
pred=rfc.predict(test)

In [229]:
test_id

0       892
1       893
2       894
3       895
4       896
       ...
413    1305
414    1306
415    1307
416    1308
417    1309
Name: PassengerId, Length: 418, dtype: int64

***Prediction of Survival of a passenger in Titanic(Kaggle)***

In [232]:
output=pd.DataFrame({'PassengerId':test_id,'Survived':pred})
output

     PassengerId  Survived
0            892         0
1            893         0
2            894         0
3            895         0
4            896         1
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]

In [233]:
output.to_csv(index=False)

'PassengerId,Survived\n892,0\n893,0\n894,0\n895,0\n896,1\n897,0\n898,1\n899,0\n900,1\n901,0\n902,0\n903,0\n904,1\n905,0\n906,1\n907,1\n908,0\n909,0\n910,0\n911,1\n912,0\n913,0\n914,1\n915,0\n916,1\n917,0\n918,1\n919,0\n920,1\n921,0\n922,0\n923,0\n924,0\n925,0\n926,0\n927,0\n928,1\n929,1\n930,0\n931,0\n932,0\n933,0\n934,0\n935,1\n936,1\n937,0\n938,0\n939,0\n940,1\n941,0\n942,0\n943,0\n944,1\n945,1\n946,0\n947,0\n948,0\n949,0\n950,0\n951,1\n952,0\n953,0\n954,0\n955,1\n956,1\n957,1\n958,1\n959,0\n960,1\n961,1\n962,1\n963,0\n964,1\n965,0\n966,1\n967,1\n968,0\n969,1\n970,0\n971,1\n972,1\n973,0\n974,0\n975,0\n976,0\n977,0\n978,1\n979,0\n980,0\n981,1\n982,1\n983,0\n984,1\n985,0\n986,0\n987,0\n988,1\n989,0\n990,1\n991,0\n992,1\n993,0\n994,0\n995,0\n996,1\n997,0\n998,0\n999,0\n1000,0\n1001,0\n1002,0\n1003,1\n1004,1\n1005,1\n1006,1\n1007,0\n1008,0\n1009,1\n1010,0\n1011,1\n1012,1\n1013,0\n1014,1\n1015,0\n1016,0\n1017,0\n1018,0\n1019,0\n1020,0\n1021,0\n1022,0\n1023,1\n1024,0\n1025,0\n1026,0\n1027,0\n1028,0\n1029,0\n1030,0\n1031,0\n1032,0\n1033,1\n1034,0\n1035,0\n1036,1\n1037,0\n1038,0\n1039,0\n1040,0\n1041,0\n1042,1\n1043,0\n1044,0\n1045,0\n1046,0\n1047,0\n1048,1\n1049,1\n1050,1\n1051,0\n1052,1\n1053,1\n1054,1\n1055,0\n1056,0\n1057,1\n1058,0\n1059,0\n1060,1\n1061,0\n1062,0\n1063,0\n1064,0\n1065,0\n1066,0\n1067,1\n1068,1\n1069,1\n1070,1\n1071,1\n1072,0\n1073,0\n1074,1\n1075,0\n1076,1\n1077,0\n1078,1\n1079,0\n1080,0\n1081,0\n1082,0\n1083,0\n1084,0\n1085,0\n1086,1\n1087,0\n1088,1\n1089,1\n1090,0\n1091,0\n1092,0\n1093,1\n1094,0\n1095,1\n1096,0\n1097,0\n1098,0\n1099,0\n1100,1\n1101,0\n1102,0\n1103,0\n1104,0\n1105,1\n1106,1\n1107,0\n1108,1\n1109,0\n1110,1\n1111,0\n1112,1\n1113,0\n1114,1\n1115,0\n1116,1\n1117,1\n1118,0\n1119,0\n1120,0\n1121,0\n1122,0\n1123,1\n1124,0\n1125,0\n1126,0\n1127,0\n1128,1\n1129,0\n1130,1\n1131,1\n1132,1\n1133,1\n1134,0\n1135,0\n1136,0\n1137,0\n1138,1\n1139,0\n1140,1\n1141,1\n1142,1\n1143,0\n1144,1\n1145,0\n1146,0\n1147,0\n1148,0\n1149,0\n1150,1\n1151,0\n1152,0\n1153,0\n1154,1\n1155,1\n1156,0\n1157,0\n1158,0\n1159,0\n1160,0\n1161,0\n1162,1\n1163,0\n1164,1\n1165,0\n1166,0\n1167,1\n1168,0\n1169,0\n1170,0\n1171,0\n1172,1\n1173,1\n1174,0\n1175,1\n1176,1\n1177,0\n1178,0\n1179,1\n1180,0\n1181,0\n1182,0\n1183,1\n1184,0\n1185,0\n1186,0\n1187,0\n1188,1\n1189,0\n1190,0\n1191,0\n1192,0\n1193,0\n1194,0\n1195,0\n1196,0\n1197,1\n1198,1\n1199,1\n1200,0\n1201,0\n1202,0\n1203,0\n1204,0\n1205,0\n1206,1\n1207,1\n1208,0\n1209,0\n1210,0\n1211,0\n1212,0\n1213,0\n1214,0\n1215,0\n1216,1\n1217,0\n1218,1\n1219,0\n1220,0\n1221,0\n1222,1\n1223,0\n1224,0\n1225,1\n1226,0\n1227,0\n1228,0\n1229,0\n1230,0\n1231,0\n1232,0\n1233,0\n1234,0\n1235,1\n1236,0\n1237,1\n1238,0\n1239,1\n1240,0\n1241,1\n1242,1\n1243,0\n1244,0\n1245,0\n1246,1\n1247,1\n1248,1\n1249,0\n1250,0\n1251,0\n1252,0\n1253,1\n1254,1\n1255,0\n1256,1\n1257,0\n1258,0\n1259,1\n1260,1\n1261,0\n1262,0\n1263,1\n1264,0\n1265,0\n1266,1\n1267,1\n1268,1\n1269,0\n1270,0\n1271,0\n1272,0\n1273,0\n1274,0\n1275,0\n1276,0\n1277,1\n1278,0\n1279,0\n1280,0\n1281,0\n1282,0\n1283,1\n1284,0\n1285,0\n1286,0\n1287,1\n1288,0\n1289,1\n1290,0\n1291,0\n1292,1\n1293,0\n1294,1\n1295,0\n1296,0\n1297,0\n1298,0\n1299,0\n1300,1\n1301,1\n1302,0\n1303,1\n1304,1\n1305,0\n1306,1\n1307,0\n1308,0\n1309,0\n'